p,input,span,textarea{
			font-family: simhei;
		}
		.content{
			width: 100%;
			height: 750px;
			background: #eee;
		}
		.content_us{
			width: 960px;
			height: 600px;
			background: #fff;
			border: 1px solid #ccc;
			position: relative;
			top: 10px;
		}
		.content_us_pbl{
			padding: 20px 28px;
		}
		.content_us_hr{
			width: 900px;
			height: 1px;
		}
		.content_us_deprt p{
			margin: 25px 0 0 28px;
		}
		.content_us_deprt input{
			margin: 10px 28px;
			width: 280px;
			max-width: 380px;
			height: 25px;
			outline: none;
		}
		textarea{
			margin: 5px 5px;
			width: 600px;
			height: 200px;
			outline: none;
			overflow: none;
			border: 0;
		}
		.content_us_ident{
			margin: -5px 28px;
		}
		.content_us_ident input{
			position: relative;
			top: -12px;
			width: 100px;
			height: 28px;
			font-size: 16px;
			outline: none;
		}
		.content_us_ident img{
			margin: 0 20px;
		}
		.content_us_sbt{
			width: 100px;
			height: 28px;
			margin: 20px 28px;
			outline: none;
			border: 0;
			background: #cfdcfd;
			font-size: 18px;
		}
		.content_us_ident span{
			position: relative;top: -12px;
		}
		.content_us_txt{
			margin: 25px 28px;
			width: 610px;
			height: 210px;
			border: 1px solid #eee;
		}