/*triangle */
.pre_nav::after{
	transform:rotate(45deg);
	content:'';
	width:25px;
	height:25px;
	position:absolute;
	top:33%;
	right:-12.5px;
	box-shadow:5px -5px 10px -2px #999 inset;
	background-color:#fff;
	border:0px;	
}
.main_left{
	display:block;
	width:420px;
	height:250px;
	padding-left:40px;/*遮住小三角形右边的阴影*/
	padding-top:20px;
	font-size:14px;
	line-height:1.5;
	float:left;
}
.main_right{
	width:260px;/*大小未更改*/
	height:150px;
	margin-left:40px;
	margin-top:20px;
}
.canfloat{
	position:fixed;
}