/* CSS Document */
*{margin:0 auto;padding:0;}
a{text-decoration:none;font-family:SimHei;cursor:pointer;}
p,span,input{font-family:SimHei;}
.canfloat{
	position:fixed;
}
.wrapped{
	position:relative;
	width:100%;
}
.content{
	width:100%;
	height:800px;
	position:absolute;
}
.name{
	width:100%;
	height:179px;
	position:absolute;
	z-index:0;
	background-color:#d0e0e8;
}
.main{
	margin-left:382px;
	width:905px;
	height:500px;
	position:absolute;
	z-index:2;
	top:180px;
}
.name_left{
	margin-left:400px;
	margin-top:40px;
	float:left;
}
.name_left .org{
	font-size:34px;
}
.name_left a{
	font-size:16px;
	line-height:2.2;
}
.name_left a img{
	width:20px;
	height:20px;
}
.name input{
	float:right;
	margin-top:50px;
	margin-right:220px;
	display:block;
	width:160px;
	height:50px;
	background:#6699cc;
	font-size:22px;
	color:#fff;
	border:0;
	border-radius:5px;
	cursor:pointer;
}
.name_left img{
	width:25px;
	height:25px;
	display:block;
	margin-top:8px;
	float:left;
	
}

.pre_nav{
	width:177px;
	height:600px;
	position:absolute;
	z-index:1;
	top:0;
	left:15%;
	background:#fff;
	box-shadow:0px 0px 10px 2px #999;
}
.pre_nav img{
	width:150px;
	height:150px;
	margin-top:10px;
	margin-left:15px;
	margin-bottom:13px;
}
.pre_nav ul{
	list-style:none;
	line-height:3;
	font-size:24px;
	display:block;
	float:left;
	margin-left:13px;
}
.pre_nav ul li{
	display:block;
	width:150px;
	height:62px;
	border-bottom:solid 1px #999;
}
.pre_nav ul li span{
	margin-left:27px;
	display:block;
	float:left;
	font-size: 20px;
}

.pre_nav ul li .nav{
	cursor:pointer;
	color:#000;
}
.footer{
	text-align:center;
	font-size:20px;
	line-height: 1.5;
	background-color:#67bae1;
}
/*triangle*/
/*.popup span em{
	border-width:25px 25px 25px 0;
	border-style:solid;
	border-color:transparent #fff transparent transparent;
	height:0;
	width:0;
	position:absolute;
	left:4px;
	top:-25px;
}
.popup span{
	border-width:20px 20px 20px 0;
	border-style:solid;
	border-color:transparent #CCC transparent transparent;
	height:0;
	width:0;
	position:absolute;
	right:0;
	top:50%;
}
.popup{
	position:relative;
	width:25px;
	height:50px;
	background:#FFF;
	float:right;
	
}*/
