.table1{
	margin:  5rem auto;
	width: 50rem;
	height: 20rem;

}
table{
	border-collapse: collapse;
	text-align: center;
	font-family: lisu;
	font-size: 1.4rem;
}
td{
	border: 0.15rem solid #000;
	height: 3rem;
	width: 5.5rem;
}
td input{
	height: 3rem;
	font-size: 1.2rem;
	color: #000;
	opacity: 0.8;
}
input.sumbitBtn{
		text-align: center;
		position: relative;
		top: -8rem;
		left: 33rem;
	
		width: 9.625rem;
		height: 4.25rem;
		font-size: 2rem;
		
		color: #000;
		border-radius: 0.5rem;
		background-color:#cfdcfd;
}