*{margin:0;padding:0;}
/*登陆注册*/
header .top{
	width:1200px;
	height:74px;
	margin:0 auto;
	position:relative;
}
header .top img{
	width:1200px;
	height:74px;
	position:absolute;
	z-index:0;
}
header .top div{
	position:absolute;
	z-index:1;
	bottom:14px;
	right:20px;
	cursor:pointer;
	font-size:21.52px;
	color:#1a1a1a;
}
header .top .loRe .lr:hover{
	color:#06f;
}
/*导航栏*/
header .nav{
	width:1200px;
	height:60px;
	background-color:#67bae1;
	margin:0 auto;
}
header nav ul{
	margin-left:60px;
	display:block;
}
header nav ul li{
	list-style:none;
	float:left;
	display:block;
	height:45px;
	margin-top:10px;
	padding-right:20px;
	padding-left:20px;
	padding-top:5px;
}
header nav ul span{
	display:block;
	float:left;
	color:#CCC;
	font-size:25px;
	margin-top:15px;
}
header nav ul .present{
	background-color:#fff;
	box-shadow:inset 4px 4px 0px #CCC;
	border-radius:5px 5px 0px 0px;
}
header nav ul li a{
	text-decoration:none;
	font-size:25px;
	color:#000;
	font-weight:lighter;
}
/*轮播图*/
#tooltip{
	position:absolute;
	border:1px solid #fff;
	background:#fff;
	padding:1px;
	color:#000;
	display:none;
}
.scrollImg{
	width:1200px;
	height:450px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
}
.scrollImg .imgs{
	position:absolute;
}
.scrollImg img{
	float:left;
	width:1200px;
	height:450px;
}
.scrollImg .scroll .opacity{
	width:1200px;
	height:34px;
	position:absolute;
	z-index:1;
	bottom:0;
	background-color:#ccc;
	opacity:0.52;	
}
.scrollImg .scroll .circle:hover{
	cursor:pointer;
}
.scrollImg .scroll .outline span{
	font-size:21px;
	color:#d8e2e5;
	display:none;
	position:absolute;
	z-index:2;
	left:20px;
	bottom:5px;
}
.scrollImg .scroll ul{
	position:absolute;
	list-style:none;
	z-index:2;
	bottom:40px;
	right:550px;
	display:block;
}
.scrollImg .scroll ul li{
	float:left;
	margin-left:10px;
}
.scrollImg .scroll ul .hover{
	color:#fff;
}
.scrollImg .scroll ul .out{
	color:#b3c0cc;
}
.scrollImg .scroll .lastPic,
.scrollImg .scroll .nextPic{
	font-size:60px;
	font-weight:bold;
	position:absolute;
	z-index:1;
	top:40%;
	color:#fff;
	width:30px;
	height:60px;
	line-height:-2px;
	padding-bottom:7px;
	display:block;
}
.scroll .lastPic:hover,
.scroll .nextPic:hover{
	background-color:#CCC;
	opacity:0.5;
	cursor:pointer;
}
.scrollImg .scroll .lastPic{
	left:0px;
	padding-right:10px;
}
.scrollImg .scroll .nextPic{
	right:0px;
	padding-left:10px;
}
/*社联公告*/
.announcement{
	width:1200px;
	height:600.4px;
	margin:0 auto;
	padding-top:48px;
	background-color:#ccc;
	background:-webkit-linear-gradient(#DBDBDB,#fff);
	background:-moz-linear-gradient(#dbdbdb,#fff);
	background:-o-linear-gradient(#dbdbddb,#fff);
	background:-ms-linear-gradient(#dbdbdb,#fff);
	background:-chrome-linear-gradient(#dbdbdb,#fff);
	background:linear-gradient(#dbdbdb,#fff);
}
.announcement .column{
	width:1150px;
	height:41px;
	border-top:1px solid #39c;
	border-bottom:1px solid #39c;
	padding-left:50px;
	padding-top:5px;
}
.announcement .column span{
	font-size:28px;
	font-weight:bold;
	color:#39c;
}
.announcement .annContent .video{
	width:365px;
	height:229px;
	padding-left:50px;
	margin-top:10px;
	float:left;
}
.announcement .annContent ul{
	float:left;
	padding-left:40px;
	margin-top:20px;
	display:inline-block;
	width:695px;
	color:#06f;	
}
.announcement .annContent ul li{
	line-height:30px;
	list-style-type:circle #06F;
}
.announcement .annContent ul li a{
	text-decoration:none;
	color:#000;
	font-size:19px;
}	
.announcement .annContent ul li a:hover{
	color:#06f;
}
.announcement .annContent ul li span{
	float:right;
	padding-right:10px;
}
/*宣传照片*/
.annpicture{
	width:1156px;
	height:222px;
	border:solid 2px #6CC;
	border-radius:5px;
	margin:auto;
	margin-top:15px;
	background-color:#fff;
}
.annpicture .innerDiv{
	width:1124px;
	height:194px;
	margin:9px;
	border:dashed 2px #6cc;
	border-radius:5px;
	padding:5px;
}
.annpicture .innerDiv .title{
	width:335px;
	height:25px;
	font-weight:bold;
	font-size:14px;
	color:#fff;
	text-align:center;
	background-color:#6CC;
	border-radius:25px;
	margin:0px auto;	
	padding-top:6px;
}
.title .titleSpan{
	margin-left:70px;
	margin-right:70px;
}
.title .last,.title .next{
	cursor:pointer;
}
.annpicture .innerDiv .imgs{
	margin:18px 12px;
	width:1095px;
	height:134px;
}
.annpicture .innerDiv .imgs img{
	float:left;
	width:225px;
	height:134px;
}
.annpicture .innerDiv .imgs .top3{
	margin-right:65px;
}
.footer{
	text-align:center;
	font-size:20px;
}
