.content-div1{
	position: relative;
	-webkit-left: -17rem;
	-moz-left: -17rem;
	-o-left: -17rem;
	left:-15rem;
	top: 0.8rem; 
}
.content-div2{
	position: relative;
	-webkit-top: -15rem;
	-webkit-right: -16rem;
	-moz-top: -15rem;
	-moz-right: -16rem;
	-o-top: -15rem;
	-o-right: -16rem;
	top: -13.5rem;
	right: -18rem;
}
.ipt{
		margin-top: 2rem;
}
input.text{
		-webkit-width: 20rem;
		-webkit-height: 2.6rem;
		-moz-width: 20rem;
		-moz-height: 2.6rem;
		-o-width: 20rem;
		-o-height: 2.6rem;
		width: 19.75rem;
		height: 2.5rem;
		border-radius: .3rem;
		display: inline-block;	
		font-size: 1.5rem;
		background-color: #dadce6;
}
input.submitBtn{
		position: relative;
		top: -12rem;
		left:-0.5em;
		width: 9.625rem;
		height: 4.25rem;
		font-size: 2rem;
		margin: 3rem 0 0 12rem;
		color: #000;
		border-radius: 0.5rem;
		background-color: #81c0de;
		border:0;
}
li input:focus,li input:hover{
	background-color: #fff;
}
.submitBtn:hover{
	background-color: #00f;
}
span.tit{
		font-size: 1.6rem;
		height: 2.2rem;
}
.state1{
	font-size: 1.1rem;
	font-family: lisu;
}
