/*登录*/
.back_mark{
	z-index:5;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#CCC;
	opacity:0.5;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	display:none;
}  
.layout{
	position:absolute;
	left:40%;
	top:0;
	display:none;
}
.layout2{
	width:380px;
	height:490px;/*360*431*/
	position:relative;
	margin:50px auto;
}
.login_back{
	z-index:6;
	position:absolute;	
	width:349px;
	height:490px;/*329*431*/
	background-color:rgb(255,255,255);
	opacity:0.5;
	border-radius:10px;
}
.login_div{
	position:absolute;
	z-index:7;
	width:309px;
	height:450px;/*289*391*/
	background-color:#fff;
	margin:20px 20px;
	border-radius:10px;
	text-align:center;
}
.login_img{
	margin-top:20px;
}
.close{
	position:absolute;
	z-index:8;
	width:70px;
	height:70px;
	right:-50px;
	top:-50px;
}
.user,.psd{
	width:200px;
	height:40px;
	border:solid 1px #ccc;
	border-radius:5px;
	font-size:20px;
	text-indent:10px;
	background-color:rgb(51,153,255);
	opacity:0.3;
}
.psd{
	margin-top:10px;
}
.login_btn{
	width:80px;
	height:40px;
	border:solid 1px #fff;
	border-radius:5px;
	background-color:#39F;
	margin-top:10px;
	font-size:24px;	
}
.rem_psd{
	margin-top:10px;
	margin-right:120px;
	height:20px;
	padding-bottom:8px;
}
.rem_psd input{
	width:20px;
	height:20px;
	display:inline-block;
	vertical-align:bottom;
}
.tips{
	width:200px;
	height:15px;
	line-height:8px;
	font-size:13px;
	display:inline-block;
}
.check_text{
	width:70px;
	height:23px;
	float:left;
	margin-top:5px;
	margin-right:10px;
	display:block;
	
}
#checkedImage{
	width:90px;
	height:28px;
	margin-top:5px;
}

.check_id{
	margin:0 auto;
	width:200px;
	height:30px;
}
.tips{
	height:20px;
	width:200px;
	display:block;
	margin:0 auto;
	line-height:30px;
}
.changeOne{
	text-decoration:underline;
	color:#09F;
	margin-top:10px;
	margin-left:5px;
	display:block;
	float:left;
}