article{
		width: 75rem;
		height:40.125rem;
		background-image: url(../images/bgImg.png);
}
#null{
		height: 4.625rem;

}
#img{
		height: 4.6875rem;
		width: 47.5rem;
		margin: 0 auto;
}
.img-position{
		position: relative;
		top: -0.4rem;
		left: -13.75rem
}
#form-content{
		width: 40rem;
		height: 22rem;
		margin: 5rem 22.25rem 13rem;
}
