li input{
		-webkit-width: 17rem;
		-webkit-height: 2.5rem;
		-moz-width: 17rem;
		-moz-height: 2.5rem;
		-o-width: 17rem;
		-o-height: 2.5rem;
		width:15rem;
		height:2.2rem;
		border-radius: .3rem;
		display: inline-block;	
		font-size: 1.2rem;
		background-color: #dadce6;
}
input.submitBtn{
		width: 9.625rem;
		height: 4.25rem;
		font-size: 2rem;
		margin: -0.5rem 0 0 11rem;
		color: #000;
		border-radius: 0.5rem;
		background-color: #81c0de;
		border:0;
}
form ul li input:focus,form ul li input:hover{
	background-color: #fff;
}
.submitBtn:hover{
	background-color: #00f;
}
form ul li{
	list-style: none;
	font-size: 1.6rem;
}
form ul li label{
	display:block;
	text-align:right;
	float:left;
	width: 10rem;
	height: 2rem;
	-webkit-line-height:2;
	-moz-line-height:2;
	-o-line-height:2;
	line-height:1.6;
	margin-right:0.8rem;
	-webkit-margin-right:0.2rem;
	-moz-margin-right:0.2rem;
	-o-margin-right:0.2rem;
}
.state1{
	font-size: 1.1rem;
	font-family: lisu;
}