.rightReg{
	width: 80%;
	height: 60rem;
	background: #ebf0f9;
	float: left;
}
.regForm{
	width: 85%;
	margin-left: 4rem;
}
.formIformation{

	margin-top: 1rem;
}
.formIformation span{
	width: 8rem;
	height: 2rem;
	margin-left: 2rem;
	display:inline-block;
	text-align: center;
	margin-top: 1rem;
	color:#000; 
	font-size: 1.25rem;
}
.rightSpan{
	padding-left: 4rem;
}
.formIformation div input{
	height: 1.3rem;
	width: 12rem;
	max-width: 15rem;
	outline: none;
	font-size: 1.2rem;
}
.textareas{
	position: relative;
	top: -2rem;
}
.formIformation textarea{
	margin-top: 1rem;
	width: 60%;
	height:4rem;
	max-height: 20rem;
	overflow-y: none;
	overflow-x: none;
	outline: none;
	font-size: 1rem;
}
.notice{
	width: 70%;
	margin-top: 0.8rem;
	margin-left: 6rem;
	color: #a2a5a9;
}
.submit{
	width: 6rem;
	height: 2.5rem;
	outline: none;
	background: #96d0eb;
	margin-top: 2rem;
	margin-left: 25rem;
	font-size: 1.25rem;
	border:0;
}
