/*triangle */
.pre_nav::after{
	transform:rotate(45deg);
	content:'';
	width:25px;
	height:25px;
	position:absolute;
	top:53%;
	right:-12.5px;
	box-shadow:5px -5px 10px -2px #999 inset;
	background-color:#fff;
	border:0px;	
}
.comment_textarea{
	display:block;
	margin-left:40px;
	margin-top:30px;
	font-size:16px;
	padding:10px;
	width:790px;
	height:100px;
}
.submit{
	width:100px;
	height:40px;
	float:right;
	border-radius:5px;
	background-color:#67bae1;
	color:#000;
	margin-right:70px;
	margin-top:10px;
	font-size:18px;
	margin-bottom:20px;
}
.main hr{
	border:#ccc 1px solid;
	width:89.5%;
	margin-left:39px;
}
.comment img{
	width:80px;
	height:80px;
	float:left;
	padding-left:42px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:20px;
}	
.comment .my_name{
	color:#69F;
	font-size:16px;
	display:block;
	float:left;
	margin-right:20px;
}
.comment .time{
	color:#ccc;
	font-size:16px;
	display:block;
}
.comment .con{
	font-size:16px;
	color:#000;
	width:700px;
}
.main .comment .comment_right{
	width:700px;
	margin-left:150px;
	padding-top:10px;
}
.comment_a{
	display:block;
	font-size:18px;
	margin-top:20px;
	color:#000;
	position:absolute;
	z-index:3;
	right:70px;
}