/* CSS Document */
*{margin:0 auto;padding:0;}
a{text-decoration:none;font-family:SimHei;cursor:pointer;}
p,span,input{font-family:SimHei;}
header .top{
	width:1200px;
	height:74px;
	margin:0 auto;
	position:relative;
}

header .top img{
	width:1200px;
	height:74px;
	position:absolute;
	z-index:0;
}
header .top div{
	position:absolute;
	z-index:1;
	bottom:14px;
	right:20px;
	cursor:pointer;
	font-size:21.52px;
	color:#1a1a1a;
}
header .top .loRe .lr:hover{
	color:#06f;
}
header .top .loRe a{
	color:#000;
}
/*导航*/
header .nav{
	width:1200px;
	height:50px;
	background-color:#67bae1;
	margin:0 auto;
}
header nav ul{
	margin-left:60px;
	display:block;
}
header nav ul li{
	list-style:none;
	float:left;
	display:block;
	margin-top:10px;
	height:35px;
	padding-right:20px;
	padding-left:20px;
	padding-top:5px;
}
header nav ul span{
	display:block;
	float:left;
	color:#CCC;
	font-size:24px;
	margin-top:15px;
}
header nav ul .present{
	background-color:#fff;
	box-shadow:inset 4px 4px 0px #CCC;
	border-radius:5px 5px 0px 0px;
}
header nav ul li a{
	text-decoration:none;
	font-size:24px;
	color:#000;
	font-weight:lighter;
	font-family:simHei;
}
/*社团信息*/
.wrapped{
	position:relative;
	width:1200px;
}
.content{
	width:1200px;
	height:800px;
	position:absolute;
}
.name{
	width:1200px;
	height:200px;
	position:absolute;
	z-index:0;
	background-color:#d0e0e8;
}
.main{
	margin-left:295px;
	width:905px;
	height:500px;
	position:absolute;
	z-index:2;
	top:200px;
	background:#fff;
}
.name_left{
	margin-left:330px;
	margin-top:40px;
	float:left;
}
.name_left .org{
	font-size:44px;
}
.name_left a{
	font-size:22px;
	line-height:2;
}
.name input{
	float:right;
	margin-top:50px;
	margin-right:40px;
	display:block;
	width:230px;
	height:80px;
	background:#6699cc;
	font-size:32px;
	color:#fff;
	border:0;
	border-radius:5px;
	cursor:pointer;
}
.name_left img{
	width:25px;
	height:25px;
	display:block;
	margin-top:8px;
	float:left;
	
}
/*导航书签*/
.pre_nav{
	width:225px;
	height:790px;
	position:absolute;
	z-index:1;
	top:0;
	left:5%;
	background:#fff;
	box-shadow:0px 0px 10px 2px #999;
}
.pre_nav img{
	margin-top:10px;
	margin-left:12.5px;
}
.pre_nav ul{
	list-style:none;
	line-height:3;
	font-size:30px;
	display:block;
	float:left;
	margin-left:25px;
}
.pre_nav ul li{
	display:block;
	width:175px;
	height:90px;
	border-bottom:solid 1px #999;
}
.pre_nav ul li span{
	margin-left:25px;
	display:block;
	float:left;
}
.pre_nav ul li .nav{
	cursor:pointer;
	color:#000;
}
/*triangle*/
/*.popup span em{
	border-width:25px 25px 25px 0;
	border-style:solid;
	border-color:transparent #fff transparent transparent;
	height:0;
	width:0;
	position:absolute;
	left:4px;
	top:-25px;
}
.popup span{
	border-width:20px 20px 20px 0;
	border-style:solid;
	border-color:transparent #CCC transparent transparent;
	height:0;
	width:0;
	position:absolute;
	right:0;
	top:50%;
}
.popup{
	position:relative;
	width:25px;
	height:50px;
	background:#FFF;
	float:right;
	
}*/
