/*triangle */
.pre_nav::after{
	transform:rotate(45deg);
	content:'';
	width:25px;
	height:25px;
	position:absolute;
	top:42%;
	right:-12.5px;
	box-shadow:5px -5px 10px -2px #999 inset;
	background-color:#fff;
	border:0px;
}
.canfloat{
	position:fixed;
	top:0;
	left:10%;
}
.activity{
	padding-top:20px;
}
.activity span{
	font-size:24px;
	border-left:3px solid #d0e0e8;
	color:#d0e0e8;
	padding-left:10px;
	display:block;
	line-height:1.5;
	height:38px;
}
.activity .activity_content{
	margin-left:50px;
	width:450px;
	float:left;
}
.activity p{
	margin-top:10px;
	margin-left:20px;
	line-height:1.8;
	padding-bottom:50px;	
}
.activity .activity_img{
	width:200px;
	height:150px;
	float:right;
	margin-right:40px;
}
.activity hr{
	width:92%;
	border:2px solid #d0e0e8;
	display:block;
	margin-left:50px;
}